.contacts__form
  h2.contacts__formTitle Send us message
  form.contacts__formTotal
    label(for="#name") Full Name
    input#name.footer__change(type="name" placeholder="Your Name")
    label(for="#email") Email
    input#email.footer__change(type="email" placeholder="Your Email")
    label(for="#text") Message
    textarea#text.footer__change(placeholder="Your Message")
    button.contacts__btn.footer__change(type="submit") Submit
