header.header
  div.header__wrapper
    div.header__logo
      img(src="./img/logo.png")
    div.header__burger
      span
    nav.header__menu
       ul.header__list
          li.header__link
            a(href="./about.html" target="_blank") About
          li.header__link
            a(href="#" target="_blank") What We Do
          li.header__link
            a(href="#" target="_blank") Project
          li.header__link
            a(href="#" target="_blank") How It Work With Us
