main.main__contacts
  section.contacts__title
    .container
      .contacts__major Contact Us
      .contacts__paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  section.contacts__info
    .container
      .contacts__wrapper
        .contacts__column
          .contacts__img
            img(src=".//img/about.png" alt="woman")
          .contacts__information
            .contacts__address
              .contacts__chief Address
              .contacts__graph Id convallis placerat sit sed duis id amet volutpat quam a, pharetra.
            .contacts__phone
              .contacts__chief Phone
              ul.contacts__list
                li.contacts__link.contacts__icon
                  a(href="tel:6281273134321") +62-812-7313-4321
                li.contacts__link.contacts__icon
                  a(href="tel:628170001234") +62-817-000-1234
            .contacts__service
              .contacts__chief Online Service
              ul.contacts__list
                li.contacts__link.contacts__iconWWW
                  a(href="https//www.afrianska.com") www.afrianska.com
                li.contacts__link.contacts__iconMail
                  a(href="mailto:hello.afrian@gmail.com") hello.afrian@gmail.com
        .contacts__column
          .contacts__form
            h2.contacts__formTitle Send us message
            form.contacts__formTotal
              label(for="#name") Full Name
              input#name(type="name" placeholder="Your Name")
              label(for="#email") Email
              input#email(type="email" placeholder="Your Email")
              label(for="#text") Message
              textarea#text(placeholder="Your Message")
              button.contacts__btn(type="submit") Submit

  section.contacts__map
    .container
      iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d85421.96683336265!2d61.294441598784395!3d55.17232804075306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c592cb104a3a8d%3A0xef224a2a6d1711bf!2z0KfQtdC70Y_QsdC40L3RgdC6LCDQp9C10LvRj9Cx0LjQvdGB0LrQsNGPINC-0LHQuy4!5e0!3m2!1sru!2sru!4v1615440434777!5m2!1sru!2sru" width="940" height="480" style="border:0;" allowfullscreen="" loading="lazy")
